/* Reset default margin/padding */
* {
  margin: 3px;
  padding: 3px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  width: 200px;  /* Define popup width */
  padding: 3px;
  background-color: #d3b485;
  /* background-color: #FFFFFF; */
  text-align: center;
  border: none;
}

.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  border: none;
}

button {
  width: 90%; /* Make buttons take full width */
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 12px;
  border: none;
  border-radius: 25px; /* Rounded buttons */
  font-size: 16px;
  cursor: pointer;
}

h1 {
  color: #000000;
}

h2 {
  color: #575350;
}

/* Google Sign-In Button */
#capture {
  background-color: #83a28a;
  color: white;
}

#capture:hover {
  background-color: #64846c;
}
#sign-in:hover {
  background-color: #e4ebea;
}